<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input type="text" matInput ngModel name="title" required minlength="3" #title="ngModel" placeholder="Post Title">
            <mat-error *ngIf="title.invalid">Please Enter A Post Title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="6" ngModel name="content" required minlength="10" #content="ngModel" placeholder="Post Content"></textarea>
            <mat-error *ngIf="content.invalid">Please Enter The Content For The Post</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Add Post</button>
    </form>
</mat-card>
